#jupyter==1.0.0
#numpy==1.11.1
#scikit-learn==0.17.1
#matplotlib
#pandas
#scipy==0.17.1
#seaborn==0.7.1
#ipykernel==4.8.0
jupyter
numpy
scikit-learn
matplotlib
pandas
scipy
seaborn
ipython==6.5.0
ipykernel==4.8.0
